// $grid-breakpoints: (
//   xs: 0, // 0,
//   sm: 576px, // 576px,
//   md: 768px, // 768px,
//   lg: 1200px, // 992px,
//   xl: 2400px // 1200px
// );

$container-max-widths: (
  sm: 540px, // 540px,
  md: 720px, // 720px,
  lg: 800px, // 960px,
  xl: 920px // 1140px
);

$red: #EF1E31;
$red-dark: #8A184A;
$blue-dark: #13093E;
$blue: #524DB4;

$theme-colors: (
  // "primary": #3cbea7
  "primary": $red,
  // "primary": #001DFF,
  // "secondary": #ff4136
  "info": $blue
);

// $body-color: #362318;
// $body-color: rgb(0, 4, 36);
$body-color: #13093E;// #202020;
$code-color: $body-color;  // rgb(121, 121, 121);

$yiq-contrasted-threshold: 155; // 150

// $font-family-base: 'IBM Plex Serif', Georgia, 'Times New Roman', Times, serif;
$font-family-base: "IBM Plex Sans", Helvetica, Arial, sans;
// $font-weight-base: 400;

$font-family-monospace: "IBM Plex Mono", mono;